.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 25px !important;

}

.bestseller-wrapper {
    left: 0;
    right: 0;
    width: 90vw;
    margin: 0 auto;
}

.bestseller-item {
    width: 300px;
    height: 465px;
    position: relative;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
}

.bestseller-item-head {
    position: absolute;
    top: 0px;
    z-index: 1;
}

.bestseller-item-body {
    position: absolute;
    bottom: 0px;
    border: 1px solid gray;
    border-radius: 6px;
    width: 300px;
    height: 205px;
    background-color: black;
}

.bestseller-item-body-top {
    height: 45px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 10px;
    font-size: 14px;
    color: white;
}

.bestseller-item-body-price {
    display: flex;
    height: 50px;
    background-color: black;
    color: white;
}

.bestseller-item-body-price .desc {
    width: 220px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.bestseller-item-body-price .price {
    width: 115px;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: end;
}

.bestseller-item-body-pot {
    display: flex;
    height: 50px;
    background-color: black;
    color: white;
}

.bestseller-item-body-pot .pot-title {
    width: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.bestseller-item-body-pot .pot-selection {
    width: 250px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.bestseller-item-body-pot .pot-selection select {
    width: 100%;
    border-radius: 12px;
    text-align: center;
    height: 25px;
    background-color: black;
    color: #b5c547;
    border: 1px solid #b5c547;
}

.bestseller-item-body-footer {
    display: flex;
    height: 54px;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.bestseller-item-body-footer .add-to-order-btn {
    padding: 5px;
    border: 1px solid #B5C547;
    background-color: #B5C547;
    color: white;
    border-radius: 12px;
    width: 200px;
    height: 40px;
}

.bestseller-item-body-footer .add-to-order-btn:hover {
    border: 1px solid #6b8a61;
    background-color: #6b8a61;
    color: white;
}

.item-cart-icons {
    color: white;
}

.item-cart-icons-del {
    color: white;
}

.cart-active {
    color: #B5C547;
}

.fa-trash-can {
    color: tomato;
}

.wishlist {
    text-align: right;
    cursor: pointer;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    height: 465px !important;
    align-items: center;
}

/* fix arrows position */
.swiper-button-next {
    right: 10% !important;
}

.swiper-button-prev {
    left: 10% !important;
}

.swiper-button-next,
.swiper-button-prev {
    color: #B5C547 !important;
}