.cover-1-desc {
    height: 550px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
}

.cover-1-desc p {
    color: white;
}

.cover-1-desc h3 {
    color: #B5C547;
}

.cover-1-desc h1 {
    color: white;
    font-size: 60px;
}

.cover-1-desc span {
    font-weight: bolder;
}

.cover-1-img {
    height: 550px;
    display: flex;
    align-items: center;
}

.cover-1-desc button {
    padding: 10px;
    border-radius: 6px;
    border: none;
    background-color: #B5C547;
    color: white;
    width: 200px;
}

.cover-1-desc button:hover {
    background-color: #6b8a61;
}

.cover-2 {
    display: flex;
    flex-wrap: wrap;
    column-gap: 70px;
}

.cover-2-item h2 {
    font-size: 55px;
    font-weight: bold;
    color: white;
}

.cover-2-item p {
    font-size: 20px;
    color: white;
}


.cover-3-desc {
    height: 550px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
}

.cover-3-desc p {
    color: white;
}

.cover-3-desc h3 {
    color: #B5C547;
}

.cover-3-desc h1 {
    color: white;
    font-size: 60px;
}

.cover-3-desc button {
    padding: 10px;
    border-radius: 6px;
    border: none;
    background-color: #B5C547;
    color: white;
    width: 200px;
}

.cover-3-desc button:hover {
    background-color: #6b8a61;
}


.cover-4 {
    height: 325px;
    overflow: hidden;
    border-radius: 12px;
    position: relative;
    margin-top: 60px;
    background: #cfe89e;
    background-image: linear-gradient(to bottom right, #101302, #cfe89e);
}

.cover-4-desc1 {
    position: absolute;
    bottom: 0;
    padding: 18px;
}

.cover-4-desc1 h3 {
    font-size: 22px;
    color: #B5C547;
}

.cover-4-desc1 h1 {
    font-size: 26px;
    color: white;
    font-weight: bold;
}

.cover-4-desc1 p {
    color: white;
}

.cover-4-desc1 button {
    color: white;
    background-color: #B5C547;
    padding: 12px;
    border-radius: 20px;
    border: none;
    width: 200px;
}

.cover-4-desc1 button:hover {
    background-color: #6b8a61;
    cursor: pointer;
}


.cover-4-desc2 {
    position: absolute;
    bottom: 0;
    padding: 18px;
}


.cover-4-desc2 h3 {
    font-size: 12px;
    color: #B5C547;
}

.cover-4-desc2 h1 {
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.cover-4-desc2 p {
    color: white;
    font-size: 10px;
}

.cover-4-desc2 button {
    color: white;
    background-color: #B5C547;
    padding: 8px;
    border-radius: 20px;
    border: none;
    width: 100px;
}

.cover-4-desc2 button:hover {
    background-color: #6b8a61;
    cursor: pointer;
}

.cl-black h3,
.cl-black h1,
.cl-black p {
    color: black;
}

.cover-5 {
    position: relative;
    text-align: center;
    background: #b5c547;
    background-image: linear-gradient(to bottom right, #101302, #cfe89e);
}

.cover-5-desc {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 45vw;
    text-align: center;
}

.cover-5-desc h3 {
    color: #B5C547;
    font-size: 1.8vw;
}

.cover-5-desc h1 {
    color: #fff;
    font-size: 2.2vw;
}

.cover-5-desc p {
    color: #fff;
    font-size: 1.2vw;
}

.cover-5-desc button {
    padding: 0.5vw;
    width: 150px;
    border: 10px;
    border-radius: 15px;
    background-color: white;
}

.cover-5-desc button:hover {
    background-color: #B5C547;
    color: white;
}

.cover-6 {
    position: relative;
    height: 350px;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid;
    background-color: #ecf0d2;
    margin-bottom: 20px;
    background-image: linear-gradient(to bottom right, #c5c5c5, #ecf0d2);
}

.cover-6-desc {
    position: absolute;
    top: 30%;
    left: 20px;
    width: 40vw;
}

.cover-6-desc h3 {
    font-size: 1.5vw;
    font-weight: bold;
}

.cover-6-desc h1 {
    font-size: 3vw;
    font-weight: bold;
}

.cover-6-desc p {
    font-size: 1.3vw;
}

@media only screen and (max-width: 600px) {
    .cover-6-desc h3 {
        font-size: 3vw;
        font-weight: bold;
    }

    .cover-6-desc h1 {
        font-size: 6vw;
        font-weight: bold;
    }

    .cover-6-desc p {
        font-size: 2.5vw;
    }

}

.cover-6-desc input {
    padding: 7px;
    color: black;
    width: 400px;
    border: 1px solid;
    border-radius: 12px;
}

@media only screen and (max-width: 600px) {
    .cover-6-desc input {
        width: 65vw;
    }

}


.cover-6-desc i {
    padding-left: 10px;
    font-size: 35px;
    position: absolute;
    top: 3px;
    right: 6px;
    cursor: pointer;
}

.cover-6-desc i:hover {
    color: #B5C547;
}

.cover-6-desc-input {
    position: relative;
    width: 400px;
}

@media only screen and (max-width: 600px) {
    .cover-6-desc-input {
        width: 65vw;
    }

}